@import 'styles/common';

.gallery {
  position: relative;
  margin: 0 0 181px;

  &::before {
    @include spotlight-background(443px, null, null, -107px);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -105px;
    left: 218px;
    width: 737px;
    height: 268px;
    background: url(/decorations/gallery-stars.png) no-repeat;
    pointer-events: none;
  }

  h2 {
    @include section-scroll-margin;
    margin: 0 0 48px;
    text-align: center;
  }

  .content {
    display: flex;
    gap: 24px;

    .leftSide {
      max-width: 288px;

      p {
        margin: 46px 0 84px;
      }
    }

    .middle {
      .top {
        display: flex;
        gap: 24px;
        margin: 0 0 139px;

        .rightSide {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
      }

      p {
        max-width: 868px;
      }
    }

    .image {
      border-radius: 16px;
    }
  }
}
