@import 'styles/common';

.contactUs {
  @include card;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 148px;
  padding: 56px 0;
  border-radius: 20px;

  &::after {
    @include spotlight-background(-207px, -225px);
  }

  .content {
    max-width: 493px;
    width: 100%;

    h2 {
      margin: 0 0 16px;
      text-align: center;
    }

    .subtitle {
      margin: 0 0 24px;
      text-align: center;
    }
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 24px;
  }

  .button {
    width: 100%;
  }

  .globalError {
    margin: 8px 0 0;
    color: $error;
  }
}
