@import '../general/vars';
@import '../general/mixins';

.programs {
  position: relative;
  left: 0;
  width: 800px;
  margin: auto;
  @include flex($direction: column);
  z-index: 1;
}

.heading {
  width: 540px;
  margin-bottom: 15px;
  align-self: center;
  text-align: center;
  color: $color-clean;
}

.description {
  width: 430px;
  align-self: center;
  text-align: center;
  color: $color-clean;
}

.wrapper {
  margin-top: 54px;
  @include flex($justify: space-between);
}