@import "variables";

@mixin heading-1 {
  font-family: $font-display;
  font-style: normal;
  font-weight: 600;
  font-size: 150px;
  line-height: 120%;
}

@mixin heading-2 {
  font-family: $font-display;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 120%;
}

@mixin heading-3 {
  font-family: $font-display;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}

@mixin heading-4 {
  font-family: $font-display;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

@mixin paragraph-1 {
  font-family: $font-content;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

@mixin paragraph-2 {
  font-family: $font-content;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

@mixin card {
  position: relative;
  background: $white-05;
  backdrop-filter: blur(5px);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    padding: 1px;
    background: $gradient-1;
    mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff);
    mask-composite: exclude;
  }
}

@mixin card-without-blur {
  position: relative;
  backdrop-filter: blur(5px);
  background: $gradient-1;

  &::before {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    z-index: -1;
    background: linear-gradient($white-05, $white-05), linear-gradient($background, $background);
    border-radius: inherit;
  }
}


@mixin clip-polygon($radius-top-left, $radius-bottom-right: $radius-top-left) {
  clip-path: polygon($radius-top-left 0, 100% 0, 100% calc(100% - $radius-bottom-right), calc(100% - $radius-bottom-right) 100%, 0 100%, 0 $radius-top-left);
}

@mixin card-clip($radius-top-left, $radius-bottom-right: $radius-top-left) {
  @include card-without-blur;
  @include clip-polygon($radius-top-left, $radius-bottom-right);

  &::before {
    @include clip-polygon($radius-top-left, $radius-bottom-right);
  }
}

@mixin spotlight-background($top: null, $right: null, $bottom: null, $left: null) {
  $offset: 350px;
  content: '';
  position: absolute;
  @if ($top) {
    top: calc($top - $offset);
  }
  @if ($right) {
    right: calc($right - $offset);
  }
  @if ($bottom) {
    bottom: calc($bottom - $offset);
  }
  @if ($left) {
    left: calc($left - $offset);
  }

  z-index: -1;
  width: 1056px;
  height: 1056px;
  background: url(/decorations/spotlight.png) no-repeat;
  pointer-events: none;
}

@mixin section-scroll-margin {
  scroll-margin: 128px 0 0;
}
