@import "variables";

@mixin heading-1 {
  font-family: $font-display;
  font-style: normal;
  font-weight: 600;
  font-size: 150px;
  line-height: 120%;
}

@mixin heading-2 {
  font-family: $font-display;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 120%;
}

@mixin heading-3 {
  font-family: $font-display;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}

@mixin heading-4 {
  font-family: $font-display;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

@mixin paragraph-1 {
  font-family: $font-content;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

@mixin paragraph-2 {
  font-family: $font-content;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

@mixin card {
  position: relative;
  backdrop-filter: blur(5px);
  background: $gradient-1;

  &::before {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    z-index: -1;
    background: linear-gradient($white-05, $white-05), linear-gradient($background, $background);
    border-radius: inherit;
  }
}

@mixin card-clip($radius) {
  $path: polygon($radius 0, 100% 0, 100% calc(100% - $radius), calc(100% - $radius) 100%, 0 100%, 0 $radius);
  @include card;
  clip-path: $path;

  &::before {
    clip-path: $path;
  }
}
