// Fonts
$font-display: var(--clash-display-font);
$font-content: var(--inter-font);
$font-footer: var(--roboto-font);

// Colors
$white: #ffffff;
$white-05: rgba($white, 0.05);
$primary-100: #0a1482;
$primary-80: #3b48d0;
$primary-40: #a2cbfb;
$background: #0c102d;
$border: #636363;
$error: #fd4646;
$error-20: rgba(#fd4646, 0.2);

// Gradients
$gradient-1: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$gradient-2: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
$gradient-3: linear-gradient(90deg, rgba(21, 191, 253, 0) 8.03%, rgba(21, 191, 253, 0.7) 69.15%, rgba(156, 55, 253, 0.7) 97.95%);

// Dimensions
$container-width: 1224px;
