@import 'styles/common';

.aboutUs {
  position: relative;
  margin: 0 0 179px;

  &::before {
    content: '';
    position: absolute;
    top: -145px;
    left: -12px;
    width: 1498px;
    height: 756px;
    background: url(/decorations/about-us-stars.png) no-repeat;
    pointer-events: none;
  }

  &::after {
    @include spotlight-background(null, -252px, -108px);
  }

  h2 {
    @include section-scroll-margin;
    margin: 0 0 56px;
    text-align: center;
  }

  .row {
    display: flex;
    gap: 17px;

    .graph {
      h3 {
        position: relative;
        margin: 0 0 119px;
        text-align: center;

        &::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50px;
          transform: translateX(-50%);
          width: 394px;
          height: 157px;
          background: url(/decorations/graph-lines.svg) no-repeat;
        }
      }

      ul {
        position: relative;
        display: flex;
        gap: 21px;

        li {
          max-width: 188px;

          &:first-child, &:last-child {
            margin: 51px 0 0;
          }

          .imageContainer {
            width: 188px;
            height: 188px;
            margin: 0 0 16px;
            padding: 1px;
            background: $gradient-1;
            border-radius: 100vmax;

            .image {
              width: 100%;
              height: 100%;
              border-radius: 100vmax;
            }
          }

          h4 {
            margin: 0 0 4px;
          }
        }
      }
    }


    .description {
      max-width: 486px;
      margin: 109px 0 0;
    }
  }
}
