@import 'styles/common';

.hero {
  position: relative;
  max-width: 1177px;
  margin: 0 0 190px;

  &::before {
    @include spotlight-background(312px, null, null, -55px);
  }

  &::after {
    @include spotlight-background(201px, -208px);
  }

  .layerOne {
    display: flex;
    margin: 0 0 -24px;

    p {
      max-width: 338px;
      margin: 74px 0 0 57px;
    }
  }

  .layerTwo {
    display: flex;
    align-items: center;
    margin: 0 0 -8px;

    button {
      margin: 0 24px 0 0;
    }
  }

  h3 {
    text-align: right;
  }
}
