@import '../general/vars';
@import '../general/mixins';

.form {
  width: 493px;
  height: 338px;
  @include flex($direction: column, $justify: space-between);

  label {
    position: relative;
    width: 100%;
    height: 86px;
  }

  input {
    width: 100%;
    height: 70px;
    padding: 0 24px;
    color: $color-text-40;
    background-color: transparent;
    border: none;
  }

  .input {
    background: url(../../../assets/svg/input.svg);
    background-repeat: no-repeat;
  }

  .inputError {
    background: url(../../../assets/svg/input-error.svg);
    background-repeat: no-repeat;
  }

  input::placeholder {
    color: $color-text-40;
  }

  input:focus::placeholder {
    color: $color-clean;
  }

  input:focus {
    color: $color-clean;
    outline: none;
  }

  .errorDescription {
    position: absolute;
    bottom: 0;
    align-self: flex-start;
    color: $color-clean;
  }

  .submitBtn {
    margin-top: 5px;
  }
}