@import '../general/vars';
@import '../general/mixins';

.steps {
  position: relative;
  width: 1213px;
  margin: 0 auto 180px;
  @include flex($direction: column);
  z-index: 1;
}

.heading {
  text-align: center;
  color: $color-clean;
}

.wrapper {
  width: 1202px;
  margin-top: 54px;
  @include flex($justify: space-between);
}

.side {
  width: 491px;
  @include flex($direction: column, $justify: flex-start);
  gap: 144px;
}

.center img {
  margin-top: 102px;
}

.sideRight {
  margin-top: 125px;
}