@import 'styles/common';

.steps {
  position: relative;
  margin: 0 0 180px;

  &::before {
    @include spotlight-background(432px, null, null, -77px);
    z-index: 1;
    mix-blend-mode: lighten;
  }

  &::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 36px;
    width: 1244px;
    height: 896px;
    background: url(/decorations/steps-stars.png) no-repeat;
    pointer-events: none;
  }

  h2 {
    margin: 0 0 56px;
    text-align: center;
  }

  ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 181px 264px;
    padding: 18.5px 0 132.5px;

    &::before {
      content: '';
      position: absolute;
      top: 108px;
      bottom: 108px;
      width: 4px;
      background: $gradient-2;
    }

    li {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: -18.5px;
        bottom: -18.5px;
        right: -16px;
        width: 146px;
        background: linear-gradient($background, $background), $gradient-3;
        background-origin: border-box;
        background-clip: padding-box, border-box;
        border: double 6px transparent;
        border-radius: 18px;
        z-index: -2;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -40px;
        transform: translate(100%, -50%);
        width: 104px;
        height: 24px;
        background: url(/decorations/step-card-arrow.svg) no-repeat;
      }

      &:nth-child(2n) {
        transform: translateY(114px);

        &::before {
          left: -16px;
          right: auto;
          background-image: linear-gradient($background, $background), $gradient-3-reversed;
        }

        &::after {
          right: auto;
          left: -40px;
          transform: translate(-100%, -50%) rotate(180deg);
        }
      }

      .card {
        @include card;
        max-width: 475px;
        padding: 24px;
        border-radius: 8px;

        h4 {
          margin: 0 0 16px;
        }

        h3 {
          margin: 0 0 16px;
        }

        p {
          color: $primary-40;
        }
      }
    }
  }
}
