@import 'styles/common';

.technologies {
  position: relative;
  margin: 0 0 184px;

  &::before {
    @include spotlight-background(303px, null, null, -72px);
  }

  &::after {
    content: '';
    position: absolute;
    top: -99px;
    right: -34px;
    width: 270px;
    height: 125px;
    background: url(/decorations/technologies-stars.png) no-repeat;
    pointer-events: none;
  }

  h2 {
    max-width: 543px;
    margin: 0 auto 16px;
    text-align: center;
  }

  .subtitle {
    max-width: 432px;
    margin: 0 auto 54px;
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 25px;

    li {
      padding: 24px 10px;
      background: url(/decorations/technology-card-background.svg) no-repeat center;
      backdrop-filter: blur(5px);
      border-radius: 16px;
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), calc(100% - 51px) 100%, 0 100%);
      overflow: hidden;

      .image {
        margin: 0 0 16px;
      }

      h4 {
        text-align: center;
      }
    }
  }
}
