@import 'styles/common';

.faq {
  position: relative;
  margin: 0 0 180px;

  &::before {
    @include spotlight-background(56px, -206px);
    z-index: 1;
    mix-blend-mode: lighten;
  }

  &::after {
    content: '';
    position: absolute;
    top: 657px;
    left: 89px;
    width: 775px;
    height: 69px;
    background: url(/decorations/faq-stars.png) no-repeat;
    pointer-events: none;
  }

  h2 {
    @include section-scroll-margin;
    max-width: 650px;
    margin: 0 auto 56px;
    text-align: center;
  }

  .content {
    display: flex;
    gap: 24px;

    .left {
      max-width: 496px;
      width: 100%;

      p {
        margin: 0 0 56px;

        span {
          display: block;
        }
      }

      .iconContainer {
        position: relative;
        width: 344px;
        height: 405px;
        margin: 0 auto;

        .image {
          position: absolute;
          top: -154px;
          left: -206px;
          z-index: -1;
          pointer-events: none;
        }
      }
    }
  }
}
