h1 {
  font-family: $font-h;
  font-weight: 600;
  font-size: 150px;
  line-height: 120%;
}

h2 {
  font-family: $font-h;
  font-weight: 600;
  font-size: 72px;
  line-height: 120%;
}

h3 {
  font-family: $font-h;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}

h4 {
  font-family: $font-h;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.p1 {
  font-family: $font-p;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.p2 {
  font-family: $font-p;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}