$height-site: 7304px;
$height-header: 100px;

$gradient-1: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$gradient-2: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
$gradient-3: linear-gradient(90deg, rgba(21, 191, 253, 0) 8.03%, rgba(21, 191, 253, 0.7) 69.15%, rgba(156, 55, 253, 0.7) 97.95%);
$gradient-4: linear-gradient(180deg, rgba(12, 16, 45, 0) -4.71%, #0C102D 97.38%);

$color-clean: #ffffff;
$color-clean-5: rgba(255, 255, 255, 0.05);
$color-primary-80: #3b48d0;
$color-primary-100: #0a1482;
$color-error: #fd4646;
$color-border: #636363;
$color-text-40: #a2cbfb;
$color-bg: #0c102d;

$font-h: 'Clash Display', sans-serif;
$font-hs: 'Roboto', sans-serif;
$font-p: 'Inter', sans-serif;