@import "styles/common";

.homePage {
  position: relative;
  z-index: 0;
  background: url(/decorations/hero-background.jpg) no-repeat top center;
  overflow-x: hidden;

  .main {
    padding: 0 calc((100% - $container-width) / 2)
  }
}
